  .custom-font {
    font-family: Verdana, sans-serif; /* Utilisation de Verdana comme police */
    font-size: 14px;
  }

  /* Ajuster la taille des labels */
.custom-font label {
  font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
  /* Autres styles CSS si nécessaire */
}

/* Ajuster la taille des champs de saisie */

#start-date {
  font-size: 12px;

}
#end-date{

  font-size: 12px;

}

