<div class="mx-1">

    <div class="d-flex flex-column align-items-end mb-3"> 
        <div class="mb-2">
            <button [routerLink]="'/user/new-delivery'" type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i> 
                &nbsp; New Delivery
            </button>
            <button  [routerLink]="'/user/edit-delivery'" >Modifier</button>
        </div>
          
    </div>
    <!--

    <div *ngIf="deliveries.length > 0">
        <h2>Liste des livraisons</h2>
        <ul>
          <li *ngFor="let delivery of deliveries">
           
            <p>ID: {{ delivery.id }}</p>
            <p>Address From: {{ delivery.addressFrom }}</p>
            <p>Address To: {{ delivery.addressTo }}</p>
            <p>Delivery Date: {{ delivery.deliveryDate }}</p>
        
          </li>
        </ul>
      </div>
      
      <div *ngIf="deliveries.length === 0">
        <p>Aucune livraison trouvée.</p>
      </div>
    -->
    <div *ngIf="deliveries.length > 0">
        <h2>Liste des livraisons</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Address From</th>
              <th>Address To</th>
              <th>Delivery Date</th>
              <!-- Ajoute ici d'autres en-têtes de colonnes si nécessaire -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let delivery of deliveries">
              <td>{{ delivery.id }}</td>
              <td>{{ delivery.addressFrom }}</td>
              <td>{{ delivery.addressTo }}</td>
              <td>{{ delivery.deliveryDate | date }}</td>
              <!-- Utilise | date pour formater la date si nécessaire -->
              <!-- Ajoute ici d'autres cellules pour d'autres propriétés -->
              <td>
               
                <button (click)="onDelete(delivery.id)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div *ngIf="deliveries.length === 0">
        <p>Aucune livraison trouvée.</p>
      </div>
      
