.container-fluid.card {
    width: 500px !important;
    margin-top: 150px;
  }
 
  /* Styles pour les placeholders */
#login::placeholder,
#password::placeholder {
    font-size: 0.6em;
}


/* Changer le style d'écriture en Verdana */
body, input, button, select, textarea {
    font-family: Verdana, sans-serif;
}
  
/* Ajuster la taille du texte pour l'élément #emailHelp */
#emailHelp {
    font-size: 0.6em; 
}

/* Ajuster la taille du texte pour le bouton "SignIn" */
.btn.btn-primary {
    font-size: 0.9em; 
    padding: 0.2rem 0.4rem; /* Ajuster le padding pour modifier la taille du bouton */
}

/* Ajuster la taille du texte pour "Don't have an account?" et "Register" */
.d-flex.align-items-center span,
.btn.btn-link {
    font-size: 0.8em; 
}

.orange-bar {
    background-color: #FFD700 !important;
    width: 100%;
    padding: 2px;
    
}

  
  
  